<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNv2ThF_TSU8WIjgT7mOnej3h9i3xKY_c</string>
	<key>GCM_SENDER_ID</key>
	<string>495846809357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseAuthUi</string>
	<key>PROJECT_ID</key>
	<string>fl-fb-auth-ui</string>
	<key>STORAGE_BUCKET</key>
	<string>fl-fb-auth-ui.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495846809357:ios:212fe0f3533605562f5a44</string>
</dict>
</plist>